* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*--------------------*/
.container {
  max-width: 1300px;
  margin: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  background-color: #f3f3f3;
  flex: 1 1 auto;
}
.left__block {
  width: 900px;
  height: 715px;
  background-image: url(../img/header/head.png);
  background-size: contain;
  background-position: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right__block {
  margin-right: 25px;
  width: 348px;
  height: 715px;
}
.burger {
  width: 100%;
  height: 100px;
}
.description__head {
  width: 291px;
  height: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 55px;
}
.ali {
  color: #262f32;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 57.75px;
  text-align: left;
  padding-bottom: 5px;
}
.web {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.37px;
  line-height: normal;
  font-size: 40px;
  padding-bottom: 10px;
}
.project {
  font-family: "lato";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 40px;
}

.topic {
  width: 317px;
  height: 239px;
  color: #262f32;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.62px;
}
.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: 100%;
  max-height: 854px;
  flex: 0 0 auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 614px;
  height: 852px;
  background-image: url(../img/2.png);
  background-repeat: no-repeat;
  background-position: auto;
  padding-top: 10px;
}

.item__left {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
  margin-right: 13px;
}
.item__right {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.description {
  width: 462px;
  height: auto;
  opacity: 0.88;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.47px;
  padding-top: 20px;
}
.set__color {
  color: #262f32;
}
.one {
  color: #262f32;
}
.two {
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 50px;
  width: 700px;
  height: 426px;
}
.up {
  background-image: url(../img/3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.item__first {
  color: #262f32;
}
.item__second {
  color: #262f32;
}
.form {
  width: 210px;
  height: 50px;
  border: 1px solid #262f32;
  border-radius: 9px 9px 9px 9px;
}
.form p {
  color: #262f32;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 6px;
}
.form__second {
  width: 210px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
}
.form__second p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 6px;
}
.bottom {
  background-image: url(../img/4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.block__left {
  width: 458px;
  height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/5.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.item__block {
  width: 343px;
  height: 111px;
  margin-left: 48px;
  margin-top: 74px;
}
.stylingdescription {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}
.stylingdescription2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.item__blocksecond {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 58px;
  margin-bottom: 72px;
}

.image__block img {
  width: 90px;
  height: 90px;
}
.imagedescr {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.descdescr {
  width: 165px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
}

.block__right {
  width: 908px;
  height: 715px;
}
.block__right {
  background-image: url(../img/gory_doroga_povorot_219954_1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.block__right {
  width: 908px;
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.wr {
  width: 620px;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.say {
  width: 228px;
  height: 65px;
}
.say-say {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}

.sayhello {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}

.forms__settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 660px;
  height: 232px;
}
.name {
  display: flex;
  width: 302px;
  height: 55px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  margin-right: 13px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.name::placeholder {
  display: block;
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  overflow: visible;
}
.email {
  display: flex;
  width: 302px;
  height: 55px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  margin-right: 13px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.email::placeholder {
  display: block;
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  overflow: visible;
}
.message {
  width: 617px;
  height: 159px;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  background: transparent;
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}
.message::placeholder {
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  overflow: visible;
}
.social {
  width: 465px;
  height: 160px;
}
.info {
  margin-bottom: 15px;
}
.info span {
  width: 213px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 32px;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  height: 60px;
}
.image img {
  width: 40px;
  height: 40px;
  border-radius: 9px 9px 9px 9px;
}
.info__2 {
  margin-top: 20px;
}
