* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*--------------------*/
.container {
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  display: flex;
  background-color: #f3f3f3;
}

.prefimg {
  max-width: 100%;
  height: 100%;
}

.right__block {
  margin-right: 25px;
  margin-left: 25px;
  max-width: 250px;
  min-height: 444px;
}

.description__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}
.ali {
  color: #262f32;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 57.75px;
  text-align: left;
}
.web {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.37px;
  line-height: normal;
  font-size: 30px;
  padding-bottom: 10px;
}
.project {
  font-family: "lato";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 30px;
  padding-bottom: 10px;
}

.topic {
  color: #262f32;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.62px;
}
.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 854px;
  flex: 0 0 auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 852px;
  background-image: url(../img/contentCenter/firstItem.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
}

.item__left {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
  margin-right: 13px;
}
.item__right {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.description {
  width: 462px;
  height: auto;
  opacity: 0.88;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.47px;
  padding-top: 20px;
}
.set__color {
  color: #262f32;
}
.one {
  color: #262f32;
}
.two {
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 50px;

  height: 426px;
}
.up {
  background-image: url(../img/contentCenter/secondItem.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.item__first {
  color: #262f32;
}
.item__second {
  color: #262f32;
}
.button__first {
  width: 210px;
  height: 50px;
  border: 1px solid #262f32;
  border-radius: 9px 9px 9px 9px;
}
.button__first p {
  color: #262f32;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 6px;
}
.button__second {
  width: 210px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
}
.button__second p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 6px;
}
.bottom {
  background-image: url(../img/contentCenter/thirdItem.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.block__left {
  width: 458px;
  height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/Footer/backgroundItem.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.item__block {
  margin-top: 74px;
}
.stylingdescription {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}
.stylingdescription2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.item__blocksecond {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 58px;
  margin-bottom: 72px;
}

.image__block img {
  width: 90px;
  height: 90px;
}
.imagedescr {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.descdescr {
  width: 165px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
}

.block__right {
  height: 715px;
}
.block__right {
  background-image: url(../img/Footer/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.block__right {
  width: 908px;
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.wr {
  width: 100%;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.say {
  width: 228px;
  height: 65px;
}
.say-say {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}

.sayhello {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.form {
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
}

.form input,
.form textarea {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: white;
} /* Firefox 19+ */
.form input:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: white;
} /* Firefox 18- */
.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: white;
}

.form input {
  width: 48%;
}

.form textarea {
  width: 100%;
  min-height: 124px;
}
.social {
  width: 465px;
  height: 160px;
}
.info {
  margin-bottom: 15px;
}
.info span {
  width: 213px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 32px;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  height: 60px;
}
.image img {
  width: 40px;
  height: 40px;
  border-radius: 9px 9px 9px 9px;
}
.info__info {
  margin-top: 20px;
}
.container__form {
  max-width: 700px;
}

@media screen and (min-width: 100px) and (max-width: 1224px) {
  .container {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  .navigation {
    max-height: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .prefimg {
    object-fit: cover;
  }
  .item__left {
    font-size: 38px;
  }
  .item__right {
    font-size: 40px;
  }
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    padding: 0 0;
    max-width: 768px;
  }
  .header {
    flex-wrap: wrap;
  }
  .item__left {
    font-size: 28px;
  }
  .item__right {
    font-size: 34px;
  }
  .navigation {
    flex-wrap: nowrap;
  }
  .block {
    min-width: 250px;
    max-width: 310px;
  }
  .description {
    max-width: 280px;
    min-width: 290px;
    padding-top: 0px;
    margin-bottom: -5px;
    padding-bottom: 20px;
  }
  .sidebar {
    height: auto;
  }
  .content {
    padding-left: 0%;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 1050px) {
  .footer {
    flex-wrap: wrap;
  }
  .block__left {
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .block__right {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    max-height: 100%;
  }
}
