.footer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.block__left {
  width: 458px;
  height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/Footer/backgroundItem.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.item__block {
  width: 343px;
  height: 111px;
  margin-left: 48px;
  margin-top: 74px;
}
.stylingdescription {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}
.stylingdescription2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.item__blocksecond {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 58px;
  margin-bottom: 72px;
}

.image__block img {
  width: 90px;
  height: 90px;
}
.imagedescr {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.descdescr {
  width: 165px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
}

.block__right {
  width: 908px;
  height: 715px;
}
.block__right {
  background-image: url(../img/Footer/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.block__right {
  width: 908px;
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.wr {
  width: 620px;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.say {
  width: 228px;
  height: 65px;
}
.say-say {
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}

.sayhello {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.35px;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}

.forms__settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 660px;
  height: 232px;
}
.name {
  display: flex;
  width: 302px;
  height: 55px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  margin-right: 13px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.name::placeholder {
  display: block;
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  overflow: visible;
}
.email {
  display: flex;
  width: 302px;
  height: 55px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  margin-right: 13px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.email::placeholder {
  display: block;
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  overflow: visible;
}
.message {
  width: 617px;
  height: 159px;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  background: transparent;
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}
.message::placeholder {
  height: 13px;
  color: #fffcfc;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  overflow: visible;
}
.social {
  width: 465px;
  height: 160px;
}
.info {
  margin-bottom: 15px;
}
.info span {
  width: 213px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 32px;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  height: 60px;
}
.image img {
  width: 40px;
  height: 40px;
  border-radius: 9px 9px 9px 9px;
}
.info__info {
  margin-top: 20px;
}

@media screen and (min-width: 100px) and (max-width: 1224px) {
  .container {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  .navigation {
    max-height: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .prefimg {
    object-fit: cover;
  }
  .item__left {
    font-size: 38px;
  }
  .item__right {
    font-size: 40px;
  }
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    padding: 0 0;
    max-width: 768px;
  }
  .header {
    flex-wrap: wrap;
  }
  .item__left {
    font-size: 28px;
  }
  .item__right {
    font-size: 34px;
  }
  .navigation {
    flex-wrap: nowrap;
  }
  .block {
    min-width: 250px;
    max-width: 310px;
  }
  .description {
    max-width: 280px;
    min-width: 290px;
    padding-top: 0px;
    margin-bottom: -5px;
    padding-bottom: 20px;
  }
  .sidebar {
    height: auto;
  }
  .content {
    padding-left: 0%;
    display: flex;
    align-items: center;
  }
}
<div
  class="footer"
  > <div
  class="footer"
  > <div
  class="block__left"
  > <div
  class="item__block"
  > <div
  class="stylingdescription"
  > <p
  > This
  Webpage
  Is</p
  > </div
  > <div
  class="stylingdescription2"
  > <p
  > Designed
  By</p
  > </div
  > </div
  > <div
  class="item__blocksecond"
  > <div
  class="image__block"
  > <img
  src="./img/Footer/logo.png"
  alt=""
  /
  > </div
  > <div
  class="imagedescr"
  > <p
  > Ali
  Sayed</p
  > </div
  > <div
  class="descdescr"
  > <p
  > Graphic
  Designer</p
  > </div
  > </div
  > </div
  > <div
  class="block__right"
  > <div
  class="wr"
  > <div
  class="say"
  > <span
  class="say-say"
  > Say
  </span
  > <span
  class="sayhello"
  > ‘Hello’</span
  > </div
  > <div
  class="many__forms"
  > <form
  class="forms__settings"
  action="#"
  method="post"
  enctype="multipart/form-data"
  > <input
  class="name"
  type="text"
  id="name"
  placeholder="Your Name"
  /
  > <input
  class="email"
  type="text"
  id="email"
  placeholder="Your Email"
  /
  > <textarea
  class="message"
  name="message"
  id="message"
  cols="30"
  rows="10"
  placeholder="Your Message Here ..."
  > </textarea
  > </form
  > </div
  > <div
  class="social"
  > <div
  class="info"
  > <span
  > Stay
  Connnected
  With
  Us...</span
  > </div
  > <div
  class="image"
  > <img
  class="settingsimage"
  src="./img/Footer/facebook.jpg"
  alt=""
  /
  > <img
  class="settingsimage"
  src="./img/Footer/dribble.jpg"
  alt=""
  /
  > <img
  class="settingsimage"
  src="./img/Footer/twitter.jpg"
  alt=""
  /
  > </div
  > <div
  class="info info__info"
  > <span
  > Please
  Feel
  Free
  To
  Contat
  With
  me
  For
  Any
  Kind
  of
  Prject.</span
  > </div
  > </div
  > </div
  > </div
  > </div
  > </div
  > </div
  > </body
  > </html
  > @media
  screen
  and
  (min-width: 320px)
  and
  (max-width: 515px) {
  .form {
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    padding-right: 50px;
  }
}
